<nav id="main-navigation">
	<div id="logotype">Klára Pitlachová</div>
	<label for="mobile-navigation-trigger" class="mobile-navigation-toggle">Navigace</label>
	<input type="checkbox" id="mobile-navigation-trigger">
	<div id="navigation-content-wrapper">
		<ul>
			<li>Co nabízím</li>
			<li>Co je mým záměrem</li>
			<li>Jak pracuji</li>
			<li>Kdo jsem</li>
			<li>Cena a čas</li>
			<li>Kontakt</li>
		</ul>
		<label for="mobile-navigation-trigger" class="navigation-background-toggle"></label>
	</div>
</nav>