body
	font-family: 'Roboto', sans-serif
	background: #F9F9FB

a
	color: inherit
	text-decoration: underline

p > a
	border-bottom: 3px solid #2D394B
	box-shadow: inset 0px -1px #2D394B
	text-decoration: none

	&:hover, &:active
		transition: 0.2s ease-in-out
		box-shadow: inset 0px -24px 0px #2D394B
		color: white

h1, h2, h3, h4, h5, h6
	font-family: 'Spectral', serif
	margin: 8px 0px 16px

h2.big-white
	color: white
	text-shadow: 0px 0px 5px transparentize(#000, 0.5)
	font-size: 2.9em
	line-height: 1em
	letter-spacing: 0.04em

hr
	border: 0
	height: 1px
	background-color: #DCDCDC
	
form
	label
		color: #666
		position: relative
		margin-bottom: 15px
		display: block
	input, textarea
		color: #2D2836
		display: block
		position: relative
		box-sizing: border-box
		width: 100%
		border: 0
		border-bottom: 3px solid #BBB
		padding: 4px 0px
		font-size: 15px
		background: transparent
		margin: 0px

		&:focus
			border-bottom: 3px solid #2D394B

	input.submit-button
		width: auto
		display: inline
		margin: 0 auto
		background: #FFF
		cursor: pointer
		padding: 12px 17px
		font-size: 14px
		font-weight: bold
		color: #444
		top: 0
		float: left
		background: #DCDCDC
		border-radius: 3px

		&:hover
			background: #EEE

		&:active
			background: #EEE
			margin-top: 3px
			border-bottom: 0px

	textarea
		height: 60px


.noselect
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	
table
	border: 1px solid #DCDCDC
	width: 100%

	tr td
		padding: 5px
		text-align: center

		&:nth-of-type(1)
			background: #E9E8E7
			text-align: left

.break-appear
	display: none
