{% include head.html title=page.title %}

{% include navigation.html %}

{% include header.html %}

<!-- my experience card -->
<div class="card-wrapper">
	<article id="my-experience">
		<div class="two-columns">
			<div class="one-column">
				<h2 class="widescr-nocolspan">{{ page.experienceListHeadline }}</h2>
				<ul class="education-list">
					{{ page.educationListBody }}
				</ul>
			</div>

			<div class="one-column">
				<h2 class="widescr-nocolspan">{{ page.experienceListHeadline }}</h2>
				<ul class="education-list">
					{{ page.experienceListBody }}
				</ul>
			</div>
		</div>
	</article>
</div>

{% include footer.html %}