{% include head.html %}

{% include navigation.html %}

<!--hero card-->
<div id="front-card">
	<div class="header-content">
		<h1><span id="type-here"></span> <br> <span class="sub-headline">soukromá psychologická praxe</span></h1>
		<div id="mobile-portrait">
			<div id="mobile-portrait-picture"></div>
		</div>
		<p id="main-quotation">"Hvězdy nehřejí. <br class="break-appear">Svítí však na&nbsp;cestu těm, <br class="break-appear">kdo se dali do&nbsp;pohybu <br class="break-appear">dlouho před&nbsp;východem slunce."</p>
		<p id="phone-number">+420 737 399 606</p>
	</div>
</div>

<!--content column starts-->
<div id="column-content">
	<div class="clear-both messages-content">
		<div class="message-pop">
			<div id="nabizim" class="message">
					<h2>Co nabízím</h2>
					<p>
						Nabízím vám psychologickou pomoc, pokud se právě nacházíte nebo se opakovaně ocitáte v obtížné situaci. Věřím,
						že vám mohu dobře pomoci zvláště tehdy, když vám obtíže činí váš pocit nedostatečnosti, ochromení či ztráty
						sebe sama. Mohu se stát vaším průvodcem na cestě ven ze starých (a stále citlivých) záležitostí. Mohu vám být
						nápomocná, když váháte na významném životním rozcestí nebo chcete-li jen lépe poznat sebe sama a posunout se ve
						svém osobním rozvoji. Společně se můžeme pokusit hledat cestu ke zlepšení také v případě, že vaši každodenní
						činnost nepříznivě ovlivňuje některý nebo více z následujících problémů:
					</p>
					<ul>
						<li>ztráta něčeho nebo někoho pro vás důležitého</li>
						<li>onemocnění či jiná nepříznivá životní událost</li>
						<li>nejistota, strach, deprese, nerozhodnost</li>
						<li>nutkavé myšlenky či chování, omezující zlozvyky</li>
						<li>přetížení, napětí, stres, psychosomatické potíže</li>
						<li>pocit nesmyslnosti, prázdnota, nedostatečný „tah na branku“</li>
						<li>odcizení, nezakořeněnost, osamělost</li>
						<li>neuspokojivé vztahy, včetně vztahu k sobě</li>
						<li>pochybnosti o stávajících hodnotách, spirituální krize</li>
						<li>a další…</li>
					</ul>
			</div>
			<div id="nabizimSw" onclick="toggleSize('nabizim', 'nabizimSw')" class="toggle-size widescr-dsp-none">více
				<div class="section-shadow"></div>
			</div>
		</div>
		<!--Block deviding page-->
		<div id="dvs01" class="division-block">
			<div class="division-content">
				„Člověk může přijít o všechno kromě jediného: nikdo mu nemůže vzít poslední lidskou svobodu – vybrat si za
				jakýchkoliv okolností svůj vlastní přístup, svou vlastní cestu.“<br><br>(V. E. Frankl)
			</div>
		</div>
		<div class="message-pop">
			<div id="pracuji" class="message">
				<h2>Co je mým záměrem</h2>
				<p>
					Při práci s člověkem se soustředím na zlepšení emocionálních a vztahových potíží, které s daným problémem mohou souviset.
					Naše setkání je časem pro vás, mým záměrem je poskytnout vám bezpečný prostor k promyšlení, procítění a sdílení
					čehokoliv, co je pro vás významné. V průběhu naší spolupráce vás budu pobízet k aktivnímu hledání východiska ze své
					situace.
				</p>
				<p>
					Cílem mé spolupráce s vámi je obnova vaší přirozené schopnosti svobodně a zodpovědně zacházet se svým životem tak,
					aby pro vás bylo možné žít s vnitřním souhlasem. Zkoumání a odstraňování překážek na cestě k tomuto cíli může vyžadovat
					více času - úměrně k tomu, jak hluboce vás ovlivňují a jak zásadních změn si přejete dosáhnout.
				</p>
			</div>
			<div id="pracujiSw" onclick="toggleSize('pracuji', 'pracujiSw')" class="toggle-size widescr-dsp-none">více
				<div class="section-shadow"></div>
			</div>
		</div>
		<!--Block deviding page-->
		<div id="dvs02" class="division-block">
			<div class="division-content">
				„Odvalit své vlastní neodvalené balvany, vyřešit vlastní nevyřešené problémy, to je cesta,
				jak na světě něco změnit k lepšímu.“<br><br> (E. Kübler-Rossová)
			</div>
		</div>
		<div class="message-pop">
			<div id="kdojsem" class="message">
				<h2>Jak pracuji</h2>
				<p>
					Moje pomoc je založená především na osobním rozhovoru o tématech, která se vás bezprostředně týkají. Při vedení rozhovoru vycházím
					z pojetí čtyř základních osobních motivací Alfrieda Längleho, jenž svou prací navazuje na dílo Viktora Emila Frankla
					(více o Logoterapii a existenciální analýze na <a href="http://www.slea.cz">www.slea.cz</a>). V případě vašeho zájmu
					můžeme při našem setkání využít hojivého potenciálu vaší obrazotvornosti a témata k tomu vhodná zpracovat
					prostřednictvím imaginačních technik, kresby či jiné formy symbolického vyjádření.
				</p>
				<p>
					S emočními a vztahovými procesy, které rozhovor odhalí nebo vyvolá, zacházím fenomenologicky. To znamená, že v pozorném
					dialogu s vámi nabízím své vjemy a pocity ze situace - spíše formou otázek a otevírání možností, než hotových odpovědí.
					Snažím se vyhýbat jednostranné interpretaci a udílení rad. Hlubší zpracování některých vašich stávajících obtíží může
					dočasně vyvolávat nebo znovuoživovat nepříjemné pocity. V takovém případě chci věnovat prostor také posilování vašich
					zdrojů, které vám mohou pomoci čelit těmto stavům i mimo rámec našich setkání.
				</p>
			</div>
			<div id="kdojsemSw" onclick="toggleSize('kdojsem', 'kdojsemSw')" class="toggle-size widescr-dsp-none">více
				<div class="section-shadow"></div>
			</div>
		</div>
		<!--Block deviding page-->
		<div id="dvs03" class="division-block">
			<div class="division-content">„Při spolupracujícím přístupu jsou terapeut a klient na té samé stránce knihy.“<br><br>(B. Schwartz a J. Flowers)</div>
		</div>
		<div class="message-pop">
			<div id="vzdelani" class="message widescr-norule">
				<h2 class="widescr-nocolspan">Vzdělání</h2>
				<ul class="education-list">
					<li><span>1995 – 1999:</span><br> gymnázium Moravský Krumlov</li>
					<li><span>1999 - 2006:</span><br> psychologie FSS MU Brno (Mgr.)</li>
					<li><span>2008 - 2015:</span><br> sebezkušenostní psychoterapeutický výcvik SLEA Praha (800 hodin)</li>
					<li><span>2008:</span><br> člověk mezi životem a smrtí (8 hodin)</li>
					<li><span>2010:</span><br> trauma v existenciálně analytické terapii (16 hodin)</li>
					<li><span>2014:</span><br> psychoterapie poruch osobnosti (8 hodin)</li>
					<li><span>2014 - 2015:</span><br> psychoterapeutická práce s traumatem (65 hodin)</li>
				</ul>
				<h2 class="widescr-nocolspan">Zkušenosti</h2>
				<ul class="education-list">
					<li><span>1997 - 1998:</span><br> osobní asistentka Effetha Brno</li>
					<li><span>1997 - 2004:</span><br> koordinátorka volnočasových aktivit pro děti a mládež</li>
					<li><span>2005 - 2006:</span><br> stážistka na oddělení pro léčbu závislostí PN Praha-Bohnice</li>
					<li><span>2007 - 2009:</span><br> koordinátorka dobrovolnické služby pacientům FN Brno (dětská nemocnice, onkologie, LDN)</li>
					<li><span>2010 - nyní:</span><br> matka dvou synů</li>
					<li><span>2013 - 2014:</span><br> domácí hospicová péče</li>
				</ul>
			</div>
			<div id="vzdelaniSw" onclick="toggleSize('vzdelani', 'vzdelaniSw')" class="toggle-size widescr-dsp-none">více
				<div class="section-shadow"></div>
			</div>
		</div>
		<!--Block deviding page-->
		<div id="dvs04" class="division-block">
			<div id="dvs04-higher" class="division-content"><span>„Vytváříme nejen umělecká díla, ale každý z nás i svůj život – jako vlastní historický román.“</span><br><br><span>(A. Längle)</span></div>
		</div>
		<div class="message-pop">
			<div id="cenaapodminky" class="message">
				<h2>Cena a čas</h2>
				<p>
					Cena za jednu konzultační hodinu o délce cca 60 minut je 500 Kč. Platby přijímám pouze v hotovosti na konci hodiny.
					Pokud se během prvního setkání ukáže, že vaše potíže nespadají do mé kompetence, tuto konzultaci vám nebudu účtovat a
					zprostředkuji vám kontakt na příslušného odborníka.
				</p>
				<p>
					Schůzku je nutné telefonicky sjednat předem. Pokud je to možné, volejte mi v jiném čase, než v konzultačních hodinách.
					Zmeškám-li váš hovor, zavolám vám co nejdříve zpět.
				</p>
				<h3>Konzultační hodiny:</h3>
				<table>
					<tr>
						<td>Pondělí</td>
						<td class="center">X</td>
						<td class="center">13:00 - 19:00</td>
					</tr>
					<tr>
						<td>Středa</td>
						<td class="center">9:00 - 12:00</td>
						<td class="center">X</td>
					</tr>
					<tr>
						<td>Čtvrtek</td>
						<td class="center">9:00 - 15:00</td>
						<td class="center">X</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="clear-both big-footer messages-content">
		<div class="message-pop map-container">
			<div id="Mapa" class="message widescr-norule">
					<h2>Kontakt</h2>
					<p>
						<span class="black-bg">Mgr. Klára Pitlachová</span><br>
						<span class="black-bg">+420 737 399 606</span><br>
						<span class="black-bg">poliklinika Kuřim, 4.patro</span><br>
						<span class="black-bg">Blanenská 982, 664 34</span>
					</p>
					<p>
						<a href="https://goo.gl/maps/d4DPo93VfSx" target="_blank">
							<strong><u>Odkaz na mapu</u></strong>
						</a>
					</p>
					<h3>Dopravní spojení z Brna:</h3>
					<ol>
						<li>
							<span class="black-bg">vlaková linka S3 s pravidelně navazujícími autobusovými spoji
							(pro městské části Brno Židenice, Lesná, Královo Pole a Řečkovice, přes Českou)</span>
						</li>
						<li>
							<span class="black-bg">přímá autobusová linka 302
							(pro městskou část Brno Bystrc, přes Rozdrojovice a Jinačovice)</span>
						</li>
					</ol>
					<p>
						<span class="black-bg">Celková doba jízdy činí 20-30 minut.</span>
					</p>
					<h3>Napište mi:</h3>
					<form method="POST">
						<input type="text" name="name" placeholder="Vaše jméno">
						<input type="text" name="email" placeholder="Váš email">
						<textarea name="text" placeholder="Vaše zpráva"></textarea>
						<input type="submit" value="Odeslat zprávu" class="submit-button">
					</form>
				</div>
		</div>
	</div>
</div>

{% include footer.html %}