{% include head.html title=page.title %}

{% include navigation.html %}

<!-- front card -->
<div id="front-card">
	<div class="header-content">
		<img class="portrait" src="assets/images/personal_photo.jpg">
		<p class="text-float-wrapper">
			<h1>{{ page.basicCardName }}</h1>
			<span id="main-quotation">{{ page.basicCardExpertise }}</span>
			<span id="phone-number">{{ page.basicCardTelephone }} | <a href="/#form-anchor-hook">e-mail</a></span>
		</p>
	</div>
</div>

<!-- offer card -->
<div class="card-wrapper">
	<article id="co-nabizim">
		<h2>{{ page.firstSegmentHeadilne }}</h2>
		<div class="two-columns">
			<p>{{ page.firstSegmentTextColumnLeft }}</p>
			<ul>{{ page.firstSegmentTextColumnRight }}</ul>
		</div>
	</article>
</div>

<!-- quatation card -->
<div id="dvs01" class="picture-with-quote-card">
	<div class="division-content">
		{{ page.qutoSegmentText }}
	</div>
</div>

<!-- quatation card -->
<!-- <div id="dvs03" class="picture-with-quote-card">
	<div class="division-content">„Při spolupracujícím přístupu jsou terapeut a klient na té samé stránce knihy.“<br><br>(B. Schwartz a J. Flowers)</div>
</div>
 -->

<!-- Location and time -->
<div class="card-wrapper">
	<article class="when-and-where">
		<div class="two-columns">
			<div class="one-column">
			<h2>{{ page.secondSegmentHeadilne }}</h2>
			{{ page.secondSegmentBody }}
			</div>

			<div class="one-column">
			<p>
			<h2>{{ page.thirdSegmentHeadilne }}</h2>
			<table>
				{{ page.thirdSegmentBody }}
			</table>
			</p>
			</div>
		</div>
	</article>
</div>

<!-- Price and Contact form -->
<div class="card-wrapper">
	<article class="price-and-form">
		<div class="two-columns">
			<div class="one-column">
				<h2>{{ page.fourthSegmentHeadilne }}</h2>
				{{ page.fourthSegmentBody }}
			</div>

			<div class="one-column">
				<h2 id="form-anchor-hook">{{ page.fifthSegmentHeadilne }}</h2>
				{{ page.fifthSegmentBody }}
			</div>
		</div>
	</article>
</div>


{% include footer.html %}