{% include head.html %}

{% include navigation.html %}

<!-- front card -->
<div id="front-card">
	<div class="header-content">
		<img class="portrait" src="assets/images/personal_photo.jpg">
		<p class="text-float-wrapper">
			<h1>Klára Pitlachová</h1>
			<span class="sub-headline">soukromá psychologická praxe</span>
			<span id="main-quotation">Doprovázení, poradenství, terapie – pomoc při překonávání nejasného úseku vaší životní cesty.</span>
			<span id="phone-number">+420 737 399 606</span>
		</p>
	</div>
</div>

<!-- offer card -->
<div class="card-wrapper">
	<article id="co-nabizim">
		<h2>{{ site.data.frontPageContent.cardOfferHeadline }}</h2>
		<div class="two-columns">
			{{ site.data.frontPageContent.cardOfferBody }}
		</div>
	</div>
	<div id="nabizimSw" onclick="toggleSize('nabizim', 'nabizimSw')" class="toggle-size widescr-dsp-none">více
		<div class="section-shadow"></div>
	</article>
</div>

<!-- quatation card -->
<div id="dvs01" class="picture-with-quote-card">
	<div class="division-content">
		„Člověk může přijít o všechno kromě jediného: nikdo mu nemůže vzít poslední lidskou svobodu – vybrat si za
		jakýchkoliv okolností svůj vlastní přístup, svou vlastní cestu.“<br><br>(V. E. Frankl)
	</div>
</div>

<!-- goal card -->
<div class="card-wrapper">
	<article id="co-je-mym-zamerem">
		<h2>{{ site.data.frontPageContent.cardGoalHeadline }}</h2>
		<div class="two-columns">
			{{ site.data.frontPageContent.cardGoalBody }}
		</div>
	</article>
</div>

<!-- quatation card -->
<div id="dvs02" class="picture-with-quote-card">
	<div class="division-content">
		„Odvalit své vlastní neodvalené balvany, vyřešit vlastní nevyřešené problémy, to je cesta,
		jak na světě něco změnit k lepšímu.“<br><br> (E. Kübler-Rossová)
	</div>
</div>

<!-- how I work card -->
<div class="card-wrapper">
	<article id="how-i-work">
		<h2>{{ site.data.frontPageContent.cardHowIWorkHeadline }}</h2>
		<div class="two-columns">
			{{ site.data.frontPageContent.cardHowIWorkBody }}
		</div>
	</article>
</div>

<!-- quatation card -->
<div id="dvs03" class="picture-with-quote-card">
	<div class="division-content">„Při spolupracujícím přístupu jsou terapeut a klient na té samé stránce knihy.“<br><br>(B. Schwartz a J. Flowers)</div>
</div>

<!-- my experience card -->
<div class="card-wrapper">
	<article id="my-experience">
		<!-- <h2>{{ site.data.frontPageContent.cardHowIWorkHeadline }}</h2> -->
		<div class="two-columns">
			{{ site.data.frontPageContent.cardMyExperienceBody }}
		</div>
	</article>
</div>

<!--Block deviding page-->
<div id="dvs04" class="picture-with-quote-card">
	<div id="dvs04-higher" class="division-content"><span>„Vytváříme nejen umělecká díla, ale každý z nás i svůj život – jako vlastní historický román.“</span><br><br><span>(A. Längle)</span></div>
</div>
<div class="message-pop">
	<div id="cenaapodminky" class="message">
		<h2>Cena a čas</h2>
		<p>
			Cena za jednu konzultační hodinu o délce cca 60 minut je 500 Kč. Platby přijímám pouze v hotovosti na konci hodiny.
			Pokud se během prvního setkání ukáže, že vaše potíže nespadají do mé kompetence, tuto konzultaci vám nebudu účtovat a
			zprostředkuji vám kontakt na příslušného odborníka.
		</p>
		<p>
			Schůzku je nutné telefonicky sjednat předem. Pokud je to možné, volejte mi v jiném čase, než v konzultačních hodinách.
			Zmeškám-li váš hovor, zavolám vám co nejdříve zpět.
		</p>
		<h3>Konzultační hodiny:</h3>
		<table>
			<tr>
				<td>Pondělí</td>
				<td class="center">X</td>
				<td class="center">13:00 - 19:00</td>
			</tr>
			<tr>
				<td>Středa</td>
				<td class="center">9:00 - 12:00</td>
				<td class="center">X</td>
			</tr>
			<tr>
				<td>Čtvrtek</td>
				<td class="center">9:00 - 15:00</td>
				<td class="center">X</td>
			</tr>
		</table>
	</div>
</div>
</div>
<div class="clear-both big-footer messages-content">
<div class="message-pop map-container">
	<div id="Mapa" class="message widescr-norule">
			<h2>Kontakt</h2>
			<p>
				<span class="black-bg">Mgr. Klára Pitlachová</span><br>
				<span class="black-bg">+420 737 399 606</span><br>
				<span class="black-bg">poliklinika Kuřim, 4.patro</span><br>
				<span class="black-bg">Blanenská 982, 664 34</span>
			</p>
			<p>
				<a href="https://goo.gl/maps/d4DPo93VfSx" target="_blank">
					<strong><u>Odkaz na mapu</u></strong>
				</a>
			</p>
			<h3>Dopravní spojení z Brna:</h3>
			<ol>
				<li>
					<span class="black-bg">vlaková linka S3 s pravidelně navazujícími autobusovými spoji
					(pro městské části Brno Židenice, Lesná, Královo Pole a Řečkovice, přes Českou)</span>
				</li>
				<li>
					<span class="black-bg">přímá autobusová linka 302
					(pro městskou část Brno Bystrc, přes Rozdrojovice a Jinačovice)</span>
				</li>
			</ol>
			<p>
				<span class="black-bg">Celková doba jízdy činí 20-30 minut.</span>
			</p>
			<h3>Napište mi:</h3>
			<form method="POST">
				<input type="text" name="name" placeholder="Vaše jméno">
				<input type="text" name="email" placeholder="Váš email">
				<textarea name="text" placeholder="Vaše zpráva"></textarea>
				<input type="submit" value="Odeslat zprávu" class="submit-button">
			</form>
		</div>
</div>

{% include footer.html %}