{% include head.html %}

{% include navigation.html %}

{% include header.html %}

<!-- goal card -->
<div class="card-wrapper">
	<article id="co-je-mym-zamerem">
		<h2>{{ page.FirstHeadilne }}</h2>
		<div class="two-columns">
			<p>
			{{ page.FirstTextBoxLeft }}
			</p>
			<p>
			{{ page.FirstTextBoxRight }}
			</p>
		</div>
	</article>
</div>

<!-- quatation card -->
<div id="dvs02" class="picture-with-quote-card">
	<div class="division-content">
		„Odvalit své vlastní neodvalené balvany, vyřešit vlastní nevyřešené problémy, to je cesta,
		jak na světě něco změnit k lepšímu.“<br><br> (E. Kübler-Rossová)
	</div>
</div>

<!-- how I work card -->
<div class="card-wrapper">
	<article id="how-i-work">
		<h2>{{ page.SecondHeadilne }}</h2>
		<div class="two-columns">
			<p>
			{{ page.SecondTextBoxLeft }}
			</p>
			<p>
			{{ page.SecondTextBoxRight }}
			</p>
		</div>
	</article>
</div>

{% include footer.html %}