//content
.card-wrapper
	article
		max-width: 640px
		margin: 0 auto
		padding: 50px 16px

	.two-columns
		color: #333
		font-size: 16px
		line-height: 24px
		&:after
			content: ""
			display: block
			clear: both

		> ul
			list-style-position: outside

			> li
				margin-left: 16px

		> p, ul
			width: 100%
			box-sizing: border-box
			float: none
			padding: 0px
			margin: 0px 0px 16px 0px

	// My Experience - special styles
	.widescr-nocolspan
		display: inline-block
		box-sizing: border-box
		width: calc(50% - 20px)
		&:nth-of-type(1)
			margin-right: 17px
		&:nth-of-type(2)
			margin-left: 17px

	.education-list
		list-style: none
		padding-left: 0
		border: 1px solid #DCDCDC
		width: calc(50% - 17px)

		li
			display: block
			padding: 15px 8px
			border-bottom: 1px solid #DCDCDC
			margin-left: 0px !important

			&:nth-of-type(odd)
				background: hsl(90deg, 60%, 90%)

			&:last-child
				border-bottom: none

			span
				font-size: 0.85em
				line-height: 0.5em

@media screen and (min-width: 960px)
	.card-wrapper
		article
			max-width: 960px
			padding: 50px 32px

		.two-columns
			> p, ul
				width: calc(50% - 34px)
				float: left
				&:first-child
					margin-right: 34px

				&:last-child
					margin-left: 34px